footer#footer.pb-4.pt-4.mt-4
	.container
		.row.text-center
			.col-12.col-lg: a(href="#") Preguntas frecuentes
			.col-12.col-lg: a(href="#") Contactanos
			.col-12.col-lg: a(href="#") Prensa
			.col-12.col-lg: a(href="#") Conferencias
			.col-12.col-lg: a(href="#") Terminos y condiciones
			.col-12.col-lg: a(href="#") Privacidad
			.col-12.col-lg: a(href="#") Estudiantes